<% include ../partials/header.ejs %>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/survey">Survey</a></li>
  <li class="breadcrumb-item">Survey Title: <%=mcquestion.title%></li>
</ol>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3><i class="fa fa-archive"></i> Update Survey Question</h3>
    </div>
  </div>
  <div class="row">
    <form class="form" method="post">
      <div class="row">
        <div class="col-12 padding-10">
          <button type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i> Update</button>
          <a href="/survey" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
        </div>
      </div>
      <div class="row">
        <% for (let i = 0; i < mcquestions.length; i++) { %>
        <div class="jumbotron col-md-12" id="mcjumbotron">
          <span class="col-md-12" id="questionTitle">
            <span class="col-md-9" id="questionTitle"><input name="<%=mcquestions[i]._id %>" class="form-control"
                type="text" value="<%= mcquestions[i].question %>"></span>
          </span>
          <% for(a = 0; a < 4; a++) { %>
          <span class="col-md-3" id="mcchoice">
            <span class="col-md-9" id="answerTitle"><input name="<%=mcquestions[i].options[a]._id %>"
                class="form-control" type="text" value="<%= mcquestions[i].options[a].option %>"></span>
          </span>
          <% } %>
        </div>
        <%}%>
      </div>
    </form>
  </div>
</div>
<% include ../partials/footer.ejs %>
